<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        #td{
            text-align: center;
            width:30%;
            height: 300px;
            width: 500px;
            float: left;
            margin:1.66%;
        }
        h1{
            text-align: center;
        }
        img{
            width: 500px;
        }
        
    </style>
</head>
<body>
<div class="container">
    <div id="td">
        <h1>Blog Post Data</h1>
        <!-- <img src="{{data.feed.image }}" alt="My image"> -->
        
           {%for data1 in data.items%}
           <h2>Topic :-{{data1.title}}</h2>
           <h3>Publish Date:-{{data1.pubDate}}</h3>
           <h3>Author Name:-{{data1.author}}</h3>
           <!--<h3>{{data1.content}}</h3>-->
           <a href="{{data1.link}}" target="_blank"><img src="{{data1.thumbnail}}" width="200" height="200"/></a>
            
           {%endfor%}
        </div>   
       

</div>
</body>
</html>



<!--Start of Tawk.to Script-->
<script type="text/javascript">
    var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
    (function(){
    var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
    s1.async=true;
    s1.src='https://embed.tawk.to/61b7096dc82c976b71c11dd6/1fmpfpm29';
    s1.charset='UTF-8';
    s1.setAttribute('crossorigin','*');
    s0.parentNode.insertBefore(s1,s0);
    })();
    </script>
    <!--End of Tawk.to Script-->



















